<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>django level two</title>
    <!-- <link rel="stylesheet" href="{% static "css/mystyle.css"}"> -->
    <style >
      h1{
        color:red;
      }

      .djangotwo{
          border: 2px solid black;
      }

    </style>
  </head>
  <body>
  <h1>Hi welcome to django level 2</h1>
  <h2>here are your access records</h2>
  <div class="djangotwo">
    {% if access_records %}
    <table>
      <thead>
        <th>site name</th>
        <th>date access</th>
      </thead>
      {% for acc in access_records %}
      <tr>
        <td>{{ acc.name }}</td>
        <td>{{ acc.date }}</td>
      </tr>
      {% endfor %}

    </table>
 {% else %}
 <p>No access records found !</p>
 {% endif %}
  </div>
  </body>
</html>
