<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>

 <div class="container">
   <div class="jumbotron">
       <h1>Plese signup here !</h1>
      <form method="POST">
        {{ form.as_p}}
        {% csrf_token %}
        <input type="submit" name="" class="btn btn-success" value="submit">

      </form>
   </div>
 </div>

  </body>
</html>
